In [1]:
from pgmpy.models import BayesianModel
import pandas as pd
import numpy as np
import tensorflow as tf

In [4]:
raw_data = np.random.randint(low=0,high=2,size=(1000,5))

In [5]:
data = pd.DataFrame(raw_data,columns=['D', 'I', 'G','L', 'S'])

In [6]:
data_train = data[: int(data.shape[0] * 0.75)]

In [9]:
student_model = BayesianModel([('D', 'G'),('I', 'G'),('I', 'S'),('G', 'L')])

In [10]:
student_model.fit(data_train)

In [11]:
student_model.get_cpds()

[<TabularCPD representing P(D:2) at 0x28fbebc75f8>,
 <TabularCPD representing P(G:2 | D:2, I:2) at 0x28fbebc7c50>,
 <TabularCPD representing P(I:2) at 0x28fbebc79e8>,
 <TabularCPD representing P(L:2 | G:2) at 0x28fbebc7358>,
 <TabularCPD representing P(S:2 | I:2) at 0x28fbebc7f60>]

In [13]:
data_test = data[int(0.75 * data.shape[0]) : data.shape[0]]

In [16]:
data_test.drop('L', axis=1, inplace=True)

D:\ProgramFiles\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
student_model.predict(data_test)

     L
750  1
751  1
752  1
753  1
754  1
755  1
756  1
757  1
758  1
759  1
760  1
761  1
762  1
763  1
764  1
765  1
766  1
767  1
768  1
769  1
770  1
771  1
772  1
773  1
774  1
775  1
776  1
777  1
778  1
779  1
..  ..
970  1
971  1
972  1
973  1
974  1
975  1
976  1
977  1
978  1
979  1
980  1
981  1
982  1
983  1
984  1
985  1
986  1
987  1
988  1
989  1
990  1
991  1
992  1
993  1
994  1
995  1
996  1
997  1
998  1
999  1

[250 rows x 1 columns]

In [21]:
a = np.mat([[2,1],[3,4]])
print(a.shape)

sess = tf.Session()
pre = tf.equal(tf.arg_max(a,0),0)
sess.run(pre)

sess.close()

(2, 2)