In [1]:
#是否节假日
import json
import urllib
import datetime
import pandas as pd
import numpy as np

In [2]:
date = pd.read_csv('accidentTime_17.10.23.csv')
date.drop(['Unnamed: 0'],axis=1,inplace=True)
date = pd.to_datetime(date['date'])
isHoliday = list()
server_url = "http://tool.bitefu.net/jiari/?d="
isHoliday = list()

In [37]:
date_start = '2014-01-01'
date_end = '2016-12-31'
date_start = datetime.datetime.strptime(date_start,'%Y-%m-%d')
date_end = datetime.datetime.strptime(date_end,'%Y-%m-%d')

In [38]:
#获取整个日期范围
date_all = list()
while date_start<=date_end:
    date_all.append(date_start)
    date_start += datetime.timedelta(1)
print(len(date_all))

1096

In [39]:
date_isHoliday = pd.DataFrame()

In [40]:
date_all = pd.DataFrame(date_all)
date_all.head()

           0
0 2014-01-01
1 2014-01-02
2 2014-01-03
3 2014-01-04
4 2014-01-05

In [41]:
date_isHoliday.insert(loc=0,column='date',value=date_all)
print('date缺失率：%s'%(sum(date_isHoliday['date'].isnull())/len(date_isHoliday)))

date缺失率：0.0

In [22]:
#获取日期范围内日期是否节假日
isHoliday = list()
for i in date_all:
    day = str(i.day)
    month = str(i.month)
    if i.day<10:
        day = '0'+day
    if i.month<10:
        month = '0'+month
    theDate = str(i.year)+month+day
    req = urllib.request
    res = req.urlopen(server_url+theDate)
    isHoliday.append(json.loads(res.read()))

In [23]:
print(len(isHoliday))

1096

In [43]:
isHoliday_df = pd.DataFrame(isHoliday)
isHoliday_df.head()

   0
0  2
1  0
2  0
3  1
4  1

In [44]:
date_isHoliday.insert(loc=1,column='isHoliday',value=isHoliday_df)
print('isHoliday缺失率：%s'%(sum(date_isHoliday['isHoliday'].isnull())/len(date_isHoliday)))

isHoliday缺失率：0.0

In [46]:
date_isHoliday.head(100)

         date  isHoliday
0  2014-01-01          2
1  2014-01-02          0
2  2014-01-03          0
3  2014-01-04          1
4  2014-01-05          1
5  2014-01-06          0
6  2014-01-07          0
7  2014-01-08          0
8  2014-01-09          0
9  2014-01-10          0
10 2014-01-11          1
11 2014-01-12          1
12 2014-01-13          0
13 2014-01-14          0
14 2014-01-15          0
15 2014-01-16          0
16 2014-01-17          0
17 2014-01-18          1
18 2014-01-19          1
19 2014-01-20          0
20 2014-01-21          0
21 2014-01-22          0
22 2014-01-23          0
23 2014-01-24          0
24 2014-01-25          1
25 2014-01-26          0
26 2014-01-27          0
27 2014-01-28          0
28 2014-01-29          0
29 2014-01-30          0
..        ...        ...
70 2014-03-12          0
71 2014-03-13          0
72 2014-03-14          0
73 2014-03-15          1
74 2014-03-16          1
75 2014-03-17          0
76 2014-03-18          0
77 2014-03-19          0
78 2014-03-20          0
79 2014-03-21          0
80 2014-03-22          1
81 2014-03-23          1
82 2014-03-24          0
83 2014-03-25          0
84 2014-03-26          0
85 2014-03-27          0
86 2014-03-28          0
87 2014-03-29          1
88 2014-03-30          1
89 2014-03-31          0
90 2014-04-01          0
91 2014-04-02          0
92 2014-04-03          0
93 2014-04-04          0
94 2014-04-05          2
95 2014-04-06          2
96 2014-04-07          2
97 2014-04-08          0
98 2014-04-09          0
99 2014-04-10          0

[100 rows x 2 columns]

In [2]:
date_isHoliday = pd.read_excel('isHolidayFrom140101To161231_17.10.23.xlsx')
# date_isHoliday['date_day'] = pd.

In [ ]:
pd.to_datetime(date_isHoliday['date']).apply(lambda x:)

In [ ]:
date_isHoliday.to_excel('isHolidayFrom140101To161231_17.10.23.xlsx')